.card-create-button{
    text-align: center;
    margin-left: 28%;
    color: white;
    background-color: #32cd32;
    width: 40%;
    height: 40px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 30px;
}